{% extends 'base.html' %}
{% block title %}
    Welcome {{ user|capfirst }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col m3 " style="text-align: center">
            <br><br>
            <i class="large material-icons" style="color: gray;font-size: 150px">account_circle</i>
            <h2>{{ user|capfirst }}</h2>
            <br>
            <div class="row center">
                <a href="{% url 'logout' %}?next={% url 'home' %}" id="download-button"
                   class="btn-large waves-effect waves-light cyan accent-4">Logout</a>
            </div>
            <br><br><br><br><br>
        </div>
        <div class="col m9">
            <div class="container">
                <div class="section">
                    <br><br>
                    <div class="row" style="text-align: center">
                        <div class="container">
                            <form method="post" enctype="multipart/form-data" class="">
                                {% csrf_token %}

                                <div class="file-field input-field">
                                    <div class="btn  cyan accent-4">
                                        <span>File</span>
                                        <input type="file" name="upfile">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" name="file-name" type="text"
                                               placeholder="Upload your file">
                                    </div>
                                </div>
                                <div class="input-field">
                                    <input id="password" type="password" name="password" class="validate">
                                    <label for="password">Password</label>
                                </div>
                                <div class="row center">
                                    <button type="submit" name="upload" value="1"
                                            class="btn waves-effect waves-light cyan accent-4">Upload
                                    </button>
                                </div>
                            </form>
                        </div>
                        {% if uploaded %}
                            <p>File Upload successful</p>
                        {% endif %}
                    </div>


                    <h3 style="text-align: center">Your Files</h3>
                    <br><br>
                    <div class="row">
                        {% for file in blocks %}
                            <div class="col s6 m4">
                                <div class="card" style="text-align: center;">
                                    <div class="card-content">
                                        <i class="{{ file.file_icon }}" style="color:{{ file.file_icon_color }}"
                                           aria-hidden="true"></i>
                                        <span class="card-title" style="font-size: 20px">{{ file.name }}</span>
                                    </div>
                                    <div class="card-action">
                                        <button class="btn activator responsive waves-effect waves-light cyan accent-4"
                                                name="submit">
                                            Download
                                        </button>
                                    </div>
                                    <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Password<i
                                            class="material-icons right">close</i></span>
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="input-field">
                                                <input id="dpassword" type="password" name="password" class="validate">
                                                <label for="dpassword">Password</label>
                                            </div>
                                            <input type="hidden"  name="index" value="{{ file.index }}">
                                            <div class="row center">
                                                <button type="submit" name="download" value="1"
                                                        class="btn waves-effect waves-light cyan accent-4">Download
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
                <br><br>
            </div>
        </div>
    </div>

{% endblock %}