{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'home/shield.png' %}" rel="icon" sizes="32x32">
    <!-- CSS  -->
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>
<div class="navbar-fixed">
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{% url 'index' %}"
               class="brand-logo black-text" style="font-weight: 600"><img src="{% static 'home/shield.png' %}"
                                                                           height="30px"> Digilocker</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="black-text" href="{% url 'index' %}">Home</a></li>
                <li><a class="black-text" href="{% url 'home' %}">Account</a></li>
                {% if not user.is_authenticated %}
                    <li><a class="black-text" href="{% url 'login' %}">Login</a></li>
                    <li><a class="black-text" href="{% url 'sign-up' %}">Register</a></li>
                {% endif %}
            </ul>

            <ul class="sidenav" id="mobile-demo">
                <li><a class="black-text" href="{% url 'index' %}">Home</a></li>
                <li><a class="black-text" href="{% url 'home' %}">Account</a></li>
                {% if not user.is_authenticated %}
                    <li><a class="black-text" href="{% url 'login' %}">Login</a></li>
                    <li><a class="black-text" href="{% url 'sign-up' %}">Register</a></li>
                {% endif %}
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>

{% block content %}
{% endblock %}

<footer class="page-footer grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like
                    it's
                    our full time job. Any amount would help support and continue development on this project and is
                    greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="white-text" href="{% url 'index' %}">Home</a></li>
                    <li><a class="white-text" href="{% url 'home' %}">Account</a></li>
                    {% if not user.is_authenticated %}
                        <li><a class="white-text" href="{% url 'login' %}">Login</a></li>
                        <li><a class="white-text" href="{% url 'sign-up' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
    M.AutoInit();

    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>

</body>
</html>
